@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

*.alt-font {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn:has(.mark-1:hover) {
  transform-origin: top right;
}

.btn:has(.mark-4:hover) {
  transform-origin: bottom right;
}

.btn:has(.mark-2:hover) {
  transform-origin: bottom center;
}

.btn:has(.mark-5:hover) {
  transform-origin: top center;
}

.btn:has(.mark-3:hover) {
  transform-origin: bottom left;
}

.btn:has(.mark-6:hover) {
  transform-origin: top left;
}

.btn:has(.mark-1:hover):active {
  transform: scale(0.95) skewY(-2deg);
}

.btn:has(.mark-4:hover):active {
  transform: scale(0.95) skewY(2deg);
}

.btn:has(.mark-3:hover):active {
  transform: scale(0.95) skewY(2deg);
}

.btn:has(.mark-6:hover):active {
  transform: scale(0.95) skewY(-2deg);
}

.btn:has(.mark-2:hover):active, .btn:has(.mark-5:hover):active {
  transform: scale(0.95);
}

.btn:has(.mark-1:hover):not(:active):hover {
  transform: skewY(-0.25deg);
}

.btn:has(.mark-4:hover):not(:active):hover {
  transform: skewY(0.25deg);
}

.btn:has(.mark-3:hover):not(:active):hover {
  transform: skewY(0.25deg);
}

.btn:has(.mark-6:hover):not(:active):hover {
  transform: skewY(-0.25deg);
}

.btn:has(.mark-2:hover):not(:active):hover {
  transform: skewX(0.25deg);
}

.btn:has(.mark-5:hover):not(:active):hover {
  transform: skewX(-0.25deg);
}

.btn:hover::after {
  height: 100%;
  width: 100%;
}

.btn::after {
  position: absolute;
  content: "";
  height: 0%;
  width: 0%;
  transition: height .15s ease, width .15s ease;
  top: 0;
  left: 0;
  z-index: -1;
}

a {
  position: relative;
}

a:not(.no-underline):hover::after {
  width: 100%;
}

a::after {
  position: absolute;
  content: "";
  width: 0%;
  transition: width 0.25s ease;
  height: 2px;
  transition-delay: 0.15s;
  background-color: #1563d8;
  bottom: -5px;
  left: 0%;
}

a:active {
  transform: scale(0.95);
}

* {
  transition: all .15s ease;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #292929;
    --foreground: #fff;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.heroImg::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 10%, rgba(240,240,240,0) 100%);
}

.heroImg {
  position: relative;
}