@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

*.alt-font {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn:has(.mark-1:hover) {
  transform-origin: top right;
}

.btn:has(.mark-4:hover) {
  transform-origin: bottom right;
}

.btn:has(.mark-2:hover) {
  transform-origin: bottom center;
}

.btn:has(.mark-5:hover) {
  transform-origin: top center;
}

.btn:has(.mark-3:hover) {
  transform-origin: bottom left;
}

.btn:has(.mark-6:hover) {
  transform-origin: top left;
}

.btn:has(.mark-1:hover):active {
  transform: scale(0.95) skewY(-2deg);
}

.btn:has(.mark-4:hover):active {
  transform: scale(0.95) skewY(2deg);
}

.btn:has(.mark-3:hover):active {
  transform: scale(0.95) skewY(2deg);
}

.btn:has(.mark-6:hover):active {
  transform: scale(0.95) skewY(-2deg);
}

.btn:has(.mark-2:hover):active, .btn:has(.mark-5:hover):active {
  transform: scale(0.95);
}

.btn:has(.mark-1:hover):not(:active):hover {
  transform: skewY(-0.25deg);
}

.btn:has(.mark-4:hover):not(:active):hover {
  transform: skewY(0.25deg);
}

.btn:has(.mark-3:hover):not(:active):hover {
  transform: skewY(0.25deg);
}

.btn:has(.mark-6:hover):not(:active):hover {
  transform: skewY(-0.25deg);
}

.btn:has(.mark-2:hover):not(:active):hover {
  transform: skewX(0.25deg);
}

.btn:has(.mark-5:hover):not(:active):hover {
  transform: skewX(-0.25deg);
}

.btn:hover::after {
  height: 100%;
  width: 100%;
}

.btn::after {
  position: absolute;
  content: "";
  height: 0%;
  width: 0%;
  transition: height .15s ease, width .15s ease;
  top: 0;
  left: 0;
  z-index: -1;
}

a {
  position: relative;
}

a:not(.no-underline):hover::after {
  width: 100%;
}

a::after {
  position: absolute;
  content: "";
  width: 0%;
  transition: width 0.25s ease;
  height: 2px;
  transition-delay: 0.15s;
  background-color: #1563d8;
  bottom: -5px;
  left: 0%;
}

a.alt-link::after {
  background-color: #fff;
}

a:active {
  transform: scale(0.90);
}

body:has(a:hover) a:hover {
  opacity: 1;
}

body:has(a:hover) a:not(:hover).no-underline {
  opacity: 1;
}

body:has(a:hover) a:not(:hover) {
  opacity: 0.6;
}

*.duration-500-alt {
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

*:not(.duration-500-alt) {
  transition: all .15s ease;
}

@media screen and (max-width: 760px) {
  * {
    font-size: 13px;
  }
}

@media screen and (min-width: 760px) {
  * {
    font-size: 2.15vmin;
  }
}

*::selection {
  background-color: #183d74;
  color: #fff;
}

* img {
  pointer-events: none;
  user-select: none;
}

* {
  scroll-behavior: smooth;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #292929;
    --foreground: #fff;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.withoutGradient:hover::after {
  background: rgba(0, 0, 0, 0.5);
}

.withoutGradient::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  mix-blend-mode: darken;
}

.heroImg::after, .withGradient::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 10%, rgba(240,240,240,0) 100%);
}

.heroImg {
  position: relative;
}

a:visited .isVisited {
  display: block;
}

a .isVisited {
  display: none;
}

.hoverText {
  transition:
    0.35s font-weight,
    0.35s color;
}

.hoverText:hover {
  font-weight: 900;
  color: rgb(30, 31, 33);
}

/* To the right */
.hoverText:hover + .hoverText {
  font-weight: 500;
  color: rgb(50, 51, 55);
}

.hoverText:hover + .hoverText + .hoverText {
  font-weight: 300;
}

/* To the left */
.hoverText:has(+ .hoverText:hover) {
  font-weight: 500;
  color: rgb(50, 51, 55);
}

.hoverText:has(+ .hoverText + .hoverText:hover) {
  font-weight: 300;
}

.hamburger {
  position: relative;
  display: grid;
  gap: 6px;
  place-items: center;
  height: 28px;
  min-width: 2rem;
  cursor: pointer;
}

.hamburger div:nth-child(1) {
  position: absolute;
  top: 0px;
  transform-origin: top left;
}

.hamburger div:nth-child(2) {
  position: absolute;
  transform-origin: right;
  top: 50%;
  transform: translateY(-50%);
}


.hamburger div:nth-child(3) {
  position: absolute;
  bottom: 0px;
  transform-origin: bottom left;
}

.hamburger div {
  height: 4px;
  right: 0;
  width: 2rem;
  background-color: #1563d8;
}

.hamburger:active div:nth-child(1), .hamburger.active div:nth-child(1) {
  transform: translateY(2px) rotate(30deg) translateX(5px);
}

.hamburger:active div:nth-child(2), .hamburger.active div:nth-child(2) {
  width: 0;
}

.hamburger:not(:active):hover div:nth-child(2) {
  width: 50%;
}

.hamburger:active div:nth-child(3), .hamburger.active div:nth-child(3) {
  transform: translateY(-2px) rotate(-30deg) translateX(5px);
}

.hamburger.active:active div:nth-child(1) {
  transform: translateY(2px) rotate(35deg) translateX(5px);
}

.hamburger.active:hover div:nth-child(2) {
  width: 0;
}

.hamburger.active:active div:nth-child(3) {
  transform: translateY(-2px) rotate(-35deg) translateX(5px);
}